html, body {
  font-family: 'Encode Sans Condensed', sans-serif;
  background-image: url("./assets/42920.jpg");
   height: 100%; 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   padding: 1%;
}




.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

